{% extends 'base.html' %}

{% block extra_css %}
  <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="jumbotron" style="border-radius: 5px; margin-top:15px; padding-top:25px; padding-bottom:25px; margin-bottom:0px;">

<h4 class="display-4">Finding ECRs for peer review</h4>
<hr/>
<div class="row">
	<div class="col">
	<p class="lead" style="margin-bottom:1.5em; font-size: 120%;">
		Some text about the problem. And why this can help with a solution.

		How to use the form below:
		</p>
	</div>
</div>

</div>

<div class="row" style="margin-top: 40px;"></div>


<div class="row">
  <div class="col-lg-12">
    <table id="results_table" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Endorser</th>
          <th data-searchable=false>Endorsee</th>
          <th data-searchable=false>Endorsee contact</th>
          <th data-searchable=false>Entry date</th>
        </tr>
      </thead>
    <tbody></tbody>
  </table>
</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    var table = $('#results_table').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": "/data",
        "type": "POST",
      }
    });
  });
</script>
{% endblock %}