{% extends 'base_email.html' %}

<p>Hello --</p>
<br/>

<p>The following endorsement has been submitted by yourself or on your behalf:</p>
<br/>

<p>{{ obj.to_name }} (identified by <code>{{ obj.to_email }}</code>) endorses 
{{ obj.from_name }} (identified by <code>{{ obj.from_email }}</code>) as a peer-reviewer
with the following citation:</p>
<br/>

<p>{{ obj.citation }}</p>
<br/>

<p>To confirm: <a href="{{ url_for('validate', userkey=userkey, row=obj.id, _external=True) }}">
    {{ url_for('validate', userkey=userkey, row=obj.id, _external=True) }}</a></p>
<br/>

<p>To reject this request: <a href="{{ url_for('reject', userkey=userkey, row=obj.id, _external=True) }}">
    {{ url_for('reject', userkey=userkey, row=obj.id, _external=True) }}</a></p>
<br/>

<p>If this is request is spam, e.g. you do not recognize either
{{ obj.to_name }} or {{ obj.from_name }}, please contact us.</p>
<br/>

<p>Thank you.</p>
<br/>